.list {
  display: flex;
  flex-direction: column;
  row-gap: 2px;
  position: fixed;
  top: 0;
  right: 0;
}

.item {
  width: 250px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid #369f70;
  border-radius: 5px;

  font-size: 18px;
  font-weight: bold;
}

.info {
  background-color: rgba(54, 159, 112, 0.7);
}

.error {
  background-color: rgba(249, 62, 63, 0.7);
}
